*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.row{
    margin: 70px auto;
    width: 70%;

}
.details{
    display: none;
}
h1{
    font-size: 40px;
    font-weight: bolder;
    padding: 10px 0px;
}
h2{
padding: 10px 0px;
font-size: 28px;
font-weight: bold;
}
h3{
padding: 10px 0px;
color: #505a5f;
}
#userInput{
    padding: 12px;
    width: 23%;
    border: 3px solid black;
    font-size: 25px;
    font-weight: 500;
} 
@media screen  and (max-width: 640px) {
    #userInput{
        padding: 6px;
        width: 50%;}
    h1{font-size: 30px;
        font-weight: bolder;
        padding: 0px 0px;
        line-height: 1.3em;
        }
        h2{
            padding: 10px 0px;
            font-size: 25px;
            font-weight: bold;}
        #search{
            padding: 10px;
            margin: 35px 0px;
            width: 100%;
            }

    
}

#userInput:focus{
    outline: 4px solid yellow;
}
#search{
    padding: 15px;
    margin: 35px 0px;
    background-color: #00703C;
    color: aliceblue;
    font-size: 22px;
    font-weight: 500;
    cursor: pointer;
}

.container_Title{
    display: flex;
    flex-direction: column;
}
.registration_Number{
    font-size: 35px;
    font-weight: bolder;
    background-color: #fd0;
    width: fit-content;
    padding: 10px 25px;
    border-radius: 0.3em;
}
.car_Make_model{
    font-size: 60px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 7px 0px;
    width: fit-content;
}
.container_details{
    display: flex;
    
}
.col{
flex: 1;
}
.car_details{
    padding: 5px 0px;
}
.car_details_title{
  padding: 0px; 
}
.container_Result{
   margin-top: 70px; 
}
.result_1,.result_2{
padding: 2px 0px;
}
.result_3{
   font-size: 70px;
   padding: 2px 0px;
   color: #00703C;
}